body {
padding: 0;
margin: 0;
background: #f2f3f4;
}



.wrapper {    
background: white;
width: 660px;
margin: 0 auto;
border-left: 3px solid #e3e3e3;
border-right: 3px solid #e3e3e3;
padding: 30px 80px;
}

header{
text-align: center;
}

.examples {
text-align: justify;
text-align-last: center;    
}

.underline {
text-decoration: underline;
}

.bold {
font-weight: bold;
}

.turbine {
float: left;
margin: 0 10px;    
}

.largeColl {
font-weight: bold;
font-style: italic;
}

.underline-italic {
text-decoration: underline;
font-style: italic;
}

.schemes {
text-align: right;
font-style: italic;    
}

.animal {
display: block;
margin: 0 auto;
}

ul, ol {
padding-top: 25px;
}
